* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 223, 216);
}

.panel {
  overflow: hidden;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: rgb(252, 250, 250);
}

.ptop {
  justify-content: space-between;
  display: flex;
  color: white;
  padding: 0px 30%;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgb(72, 104, 72);
}

.box {
  color: black;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: white;
  font-weight: 750;
  font-size: 25px;
}
.elem {
  align-items: center;
  gap: 20px;
  width: 10%;
  display: flex;
}
#pbtm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
  height: calc(100% - 100px);
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: yellowgreen;
  border-radius: 50%;
}
.bubble:hover {
  cursor: pointer;
  background-color: palevioletred;
  font-size: 2rem;
}
